body{
    width: 650px;
    border: 3px;
    border-style: solid;
    border-color: blue;
    padding: 15px 25px;
    font-size: 87.5%;
}

h1{
    font-size: 150%;
}

h2{
    font-size: 120%;
    padding: 0.25em 0.25em 25px;
}

div.hide{
    display: none;
}

a, a:focus, a:hover{
    color: blue;
}

p{
    padding: 0.25em 0.25em 25px;
}