body{
    width: 510px;
    border: 3px;
    border-style: solid;
    border-color: blue;
    font-family: sans-serif;
}

main{
    margin: 1em;
}

div{
    margin-top: 20px;
}

h1{
    color: blue;
}

label{
    display: inline-block;
    width: 3em;
    text-align: right;
}

input{
    margin-left: 1em;
}

#scores{
    width: 10em;
    text-align: left;
}

#button-container{
    margin-left: 48px;
}

span{
    color: red;
    margin-left: 1em;
}